/* CHECK VERDE TARJETA PRINCIPAL */
.ticket {
  position: relative;
}

.ticket-check {
  position: absolute;
  right: 14px;
  top: 50%;
  transform: translateY(-50%);
  width: 26px;
  height: 26px;
  background: #2dd4bf;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 16px;
  font-weight: bold;
}

/* CONTACTOS FRECUENTES */
.avatar {
  width: 40px;
  height: 40px;
  background: #2dd4bf;
  color: #000;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: 700;
}





